<h2>All badges</h2>

<table>
  <tr>
    <td>Name</td>
    <td>Icon</td>
  </tr>
  <%= render @badges %>
</table>

<h2>Your badges</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Icon</th>
  </tr>
    <%= render @issued_badges %>
</table>
