<% if @test_passage.succesfully? %>
  <h1 class='succes'>Test passed successfully</h1>
<% else %>
  <h1 class='fail'>Test failed</h1>
<% end %>
<p>Result: <%= @test_passage.success_rate %>%</p>

<%= link_to 'Tests', tests_path %>
