<% if @test_passage.succesfully? %>
  <h1 class='succes'>Test passed successfully</h1>
<% else %>
  <h1 class='fail'>Test failed</h1>
<% end %>
<div class='progress'>
  <div class="bar" data-percentage=<%= @test_passage.success_rate %> ></div>
</div>
