<% if @test_passage.succesfully? %>
  <h1 style='color: hsl(100,100%,50%)'>Test passed successfully</h1>
<% else %>
  <h1 style='color: hsl(0,100%,50%)'>Test failed</h1>
<% end %>
<p style="color:hsl(<%= @test_passage.success_rate %>,100%,50%);">
  Result: <%= @test_passage.success_rate %>%
</p>

<%= link_to 'Tests', tests_path %>
