<nav>
  <h1><%= link_to 'TestGuru', root_path %></h1>

  <% if user_signed_in? %>
    <p class='nav nav user'>
      Welcome, <%= "#{current_user.first_name} #{current_user.last_name}"%><br>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </p>
  <% end %>
</nav>
