<h1>Tests</h1>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'test-success hide' %>
      <%= octicon 'arrow-down', class: 'test-success hide' %>
    </th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th colspan='4'>Actions</th>
  <tr>

  <%= render @tests %>
</table>

<%= link_to 'New test', new_admin_test_path %>
